@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  box-sizing: inherit;
}
body {
  font-family: "Noto Sans KR", serif;
}
html {
  font-size: 62.5%;
}

button {cursor: pointer;width: 100%;border: 0;outline: none;background-color: transparent;}

@import "~@fortawesome/fontawesome-free/css/all.css";
